<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">


<div class="container">
  <p></p>
  <p>
    <strong>お題:</strong>
    <%= @room.name %>
    <strong>
    制限時間
    </strong>
    <span id="timer_m">01</span>:<span id="timer_s">20</span>
  </p>
  <p><strong>条件:</strong>面白いこと</p>
  <p><strong>※ホワイトボードが結論として最終的に保存されます</strong></p>

  <textarea id="white-bord" name="name" rows="15" cols="100"></textarea>
</div>



<video id="my-video" autoplay poster="posterimage.jpg"></video>

<!-- あとでファイル分ける -->

<script type="text/javascript" src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI=" crossorigin="anonymous"></script>
<script type="text/javascript">

/* eslint-disable require-jsdoc */
$(function() {
  var roomName='<%= @room.id %>';
  // Peer object
  // Dateオブジェクトを作成
  var date = new Date() ;
  // UNIXタイムスタンプを取得する (ミリ秒単位)
  var a = date.getTime() ;
  const peer = new Peer(roomName+a,{
    key:   "ca56abf9-c509-4d78-b2cc-88a51817fd99",
    debug: 3
  });

  let localStream;
  let room;

  peer.on('open',function(){

    navigator.mediaDevices.getUserMedia({video:true, audio:true }).then(stream => {
      $('#my-video').get(0).srcObject = stream;
      localStream = stream;
      room=peer.joinRoom(roomName,{mode:"sfu",stream:localStream});
      room.on('open',function(){

        room.on("stream",function(stream){
          stream_to_tag(stream);
        })

        room.on("data",function(data){
          $("#white-bord").val(data.data.data);
        })

        $("#white-bord").keyup(function(){
          var data=$("#white-bord").val();
          room.send({label:"white-bord",data:data});
        })

        room.on("peerLeave",function(peerId){
          $("video#"+peerId).hide();
        })

        // room.on("data",function(data){
        //   $("#white-bord").val(data.data.data);
        // })

      })
    })
  })


function stream_to_tag(stream) {
  if($("video#"+stream.peerId).length==0){
    $video=$("<video>");
    $("body").append($video);
    $video.attr("src",window.URL.createObjectURL(stream));
    $video.attr("id",stream.peerId);
    $video.attr("class","other-peer");
    $video.show();
    var rgbColor = 'rgb(' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ')';
    $video.css('border-color', rgbColor);
    $video.draggable();
  }
}


var m;
var s;
var remaining;



function countDown(){
  m=parseInt($("#timer_m").text());
  s=parseInt($("#timer_s").text());
  remaining=m*60+s;
  if(remaining>0){
     if (s>0) {
       s--;
     }else{
       s=59;
       m--;
     }

     $("#timer_m").text(('00' + m).slice(-2));
     $("#timer_s").text(('00' + s).slice(-2));
  }else{
    // location.href=location.href+"?end=true";
  }
}

setInterval(countDown,1000);


});
</script>
