<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<textarea name="name" rows="8" cols="80"></textarea>

<hr>

<video id="my-video" autoplay poster="posterimage.jpg"></video>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>


<!-- あとでファイル分ける -->

<script type="text/javascript" src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI=" crossorigin="anonymous"></script>
<script type="text/javascript">

/* eslint-disable require-jsdoc */
$(function() {
  // Peer object
  const peer = new Peer({
    key:   "ca56abf9-c509-4d78-b2cc-88a51817fd99",
    debug: 3
  });

  let localStream;
  let room;

  peer.on('open',function(){
    // alert(peer.id);
    navigator.mediaDevices.getUserMedia({video:true, audio:true }).then(stream => {
      $('#my-video').get(0).srcObject = stream;
      localStream = stream;

      room=peer.joinRoom("test",{mode:"sfu",stream:localStream});
      debugger;
      room.on('open',function(){
        // alert("ひらいた");
        room.on("stream",function(stream){
          // alert("きた");
          // debugger;
          stream_to_tag(stream);
        })
      })
    })
  })


function stream_to_tag(stream) {
  if($("video#"+stream.peerId).length==0){
    $video=$("<video>");
    $("body").append($video);
    $video.attr("src",window.URL.createObjectURL(stream));
    $video.attr("id",stream.peerId);
    $video.show();
    var rgbColor = 'rgb(' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ')';
    $video.css('border-color', rgbColor);
    $video.draggable();
  }
}

});
</script>
