<p>
  <strong>お題:</strong>
  <%= @room.name %>
  <strong>
  制限時間
  </strong>
  <span id="timer_m">02</span>:<span id="timer_s">00</span>
</p>
<p><strong>条件:</strong>ダミーテキストです</p>


<p>ホワイトボード（最新の情報に更新されます）</p>
<textarea id="white-bord" name="name" rows="20" cols="100"></textarea>

<video id="my-video" autoplay poster="posterimage.jpg"></video>

<!-- あとでファイル分ける -->

<script type="text/javascript" src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI=" crossorigin="anonymous"></script>
<script type="text/javascript">

/* eslint-disable require-jsdoc */
$(function() {
  // Peer object
  const peer = new Peer({
    key:   "ca56abf9-c509-4d78-b2cc-88a51817fd99",
    debug: 3
  });

  let localStream;
  let room;

  peer.on('open',function(){

    navigator.mediaDevices.getUserMedia({video:true, audio:true }).then(stream => {
      $('#my-video').get(0).srcObject = stream;
      localStream = stream;
      var roomName='<%= @room.id %>';
      room=peer.joinRoom(roomName,{mode:"sfu",stream:localStream});
      room.on('open',function(){

        room.on("stream",function(stream){
          stream_to_tag(stream);
        })

        room.on("data",function(data){
          $("#white-bord").val(data.data.data);
        })

        $("#white-bord").keyup(function(){
          var data=$("#white-bord").val();
          room.send({label:"white-bord",data:data});
        })

        room.on("peerLeave",function(peerId){
          $("video#"+peerId).hide();
        })

        // room.on("data",function(data){
        //   $("#white-bord").val(data.data.data);
        // })

      })
    })
  })


function stream_to_tag(stream) {
  if($("video#"+stream.peerId).length==0){
    $video=$("<video>");
    $("body").append($video);
    $video.attr("src",window.URL.createObjectURL(stream));
    $video.attr("id",stream.peerId);
    $video.attr("class","other-peer");
    $video.show();
    var rgbColor = 'rgb(' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ')';
    $video.css('border-color', rgbColor);
    $video.draggable();
  }
}


var m;
var s;
var remaining;



function countDown(){
  m=parseInt($("#timer_m").text());
  s=parseInt($("#timer_s").text());
  remaining=m*60+s;
  if(remaining>0){
     if (s>0) {
       s--;
     }else{
       s=59;
       m--;
     }

     $("#timer_m").text(('00' + m).slice(-2));
     $("#timer_s").text(('00' + s).slice(-2));
  }else{
    alert("時間切れです");
  }
}

setInterval(countDown,1000);

});
</script>
